<!DOCTYPE html>
<html lang="en" ng-app="myMessages">

<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/messaging.js"></script>
</head>
<body>
    <div class="container-fluid">
        <h1>SnapMessaging Board</h1>
    </div>
    <div class="container-fluid" ng-controller="MessagingController as msgCtrl">
        <h2>List of Current Messages</h2>
        <ul class="list-group">
          <!--<li ng-repeat="msg in msgCtrl.messages" class="list-group-item"><b>From:</b> {{msg.from}} <b>To:</b> {{msg.to}} <b>Message:</b> {{msg.text}}</li>-->
          <li ng-repeat="m in msgCtrl.messageArray" class="list-group-item"><b>TITLE:</b> {{m.title}} <b>DESC:</b> {{m.description}} <b>ID:</b> {{m.id}}</li>
        </ul>
        <form ng-submit="msgCtrl.addMessage()">
          <input type="text" ng-model="msgCtrl.msgText"  size="30"
                 placeholder="add new message here">
          <input class="btn-primary" type="submit" value="add">
      </form>
    </div>

</body>

</html>
